body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}

div {
    border: 1px solid black;
}

#first-block {
    background-color: red;
    height: 90px;
    max-width: 100%;
    margin: 0 10px;
}
/* Container 1 */

.container-flex {
    display: flex;
    border-style: none;
    flex-wrap: wrap;
    justify-content: center;
}

.blue-block {
    background-color: blue;
    
}

.yellow-block {
    background-color: yellow;
 
}

.green-block {
    background-color: green;
    
}

.blue-block, .yellow-block, .green-block {
    height: 120px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 10px;
    min-width: 20%;

}

/* Container 2 */

.black-block {
    background-color: black;
    color: white;
    height: 200px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 10px;
}

/* Container 3 */

.white-block {
    background-color: white;
    height: 200px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    min-width: 20%;
}

/* Medias */

@media screen and (max-width: 800px) {

    .blue-block, .yellow-block, .green-block, .white-block,.black-block {
        min-width: 40%;
    }
}

@media screen and (max-width: 600px) {
    .container-flex {
        flex-direction: column;
    }
}